<div class="row">
  <div class="col-md-4">
    <% if params[:plan] == '2' %>
      <div class="plan premium text-center"><h2> Premium Account</h2></div>
      <p>Sign up for premium account for $15 and get access to private wikis!</p>
    <% else %>
      <div class="plan text-center"><h2> Basic Account</h2></div>
    <% end %>

<h2>Sign up</h2>
  <% if params[:plan] == '2' %>
    <%= render "premium_plan" %>
  <% else %>
    <%= render "basic_plan" %>
  <% end %>


<%= render "devise/shared/links" %>
