  <div class="jumbotron">
    <div class="container">
      <h1>Blocipedia</h1>
      <p>Blocipedia allows users to create and collabrate on public and private Markdown-based wikis. Sign up today to get started!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center">
      <div class="well">
        <div class="plan"><h2 class="text-center">Basic Membership</h2></div>
          <ul class="list-unstyled text-center">
            <li>Create unlimited public wikis</li>
            <li>Collaborate with other users</li>
          </ul>
        <h3 class="text-center">FREE</h3>
        <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-info btn-lg' %>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <div class="well">
        <div class="plan premium"><h2 class="text-center">Premium Membership</h2></div>
          <ul class="list-unstyled text-center">
            <li>Same benefit as standard</li>
            <li>Create unlimited private wikis</li>
          </ul>
        <h3>ONLY $15</h3>
        <%= link_to "Sign up with Premium", new_user_registration_path(plan: @premium_plan.id), class: 'btn btn-warning btn-lg text-center' %>
      </div>
    </div>
