  <div class="jumbotron">
    <div class="container">
      <h1>Blocipedia</h1>
      <p>Blocipedia allows users to create and collabrate on public and private Markdown-based wikis. Sign up today to get started!</p>
      <p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %> or
        <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
